.container, .container * {
    color: white; /* Define a cor branca para todo o texto dentro do elemento .container e seus descendentes */
}

.container {
    width: 700px;
    margin: 0 auto;
    padding: 3em;
}

.container h1 {
    margin-bottom: 0.5em;
}

