.form{
    width: 100%;
    margin: 2em 0;
}

.inputRow {
    display: flex;
    width: 100%;
    align-items: center; /* Opcional: alinha os itens verticalmente */
    margin-bottom: 1em; /* Opcional: adiciona margem inferior entre as linhas */
}

.inputRow > * {
    width: 100%;
    margin-right: 1em; /* Opcional: adiciona espaçamento entre os elementos */
    
}

.buttonContainer {
    display: flex;
    justify-content: flex-end; /* Alinha o conteúdo à direita */
    margin-left: auto;
    margin-right: 1em;
    
}

.p{
    margin-right: 1em;
    align-content: center;
    
}